# Configuración general
NODE_ENV=development
PORT=4000

# Configuración de Supabase
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# Dirección permitida mediante CORS
CLIENT_URL=http://localhost:5173